/* ------------------setup--------------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
=============== 
Navbar
===============
*/
nav {
  box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(238, 238, 238, 0.527),
    rgba(255, 255, 255, 0.507)
  );
  backdrop-filter: blur(5px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.274);
  border-right: 2px solid rgba(0, 0, 0, 0.274);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #242c6c;
  background: transparent;
  border-color: transparent;
  transition: 0.4ms;
  cursor: pointer;
}
.nav-toggle:hover {
  color: #bc9c2c;
  transform: rotate(90deg);
}
.logo {
  height: 50px;
}
.links a {
  color: #242c6c;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 1rem 1rem;
  transition: 0.5ms;
}
.links a:hover {
  color: #bc9c2c;
  padding-left: 1.5rem;
}
.links {
  height: 0;
  overflow: hidden;
  transition: 0.5ms;
}
.show-links {
  height: 15rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/*
=============== 
Qoute
===============
*/
/* 
.quote {
  align-items: center;
  margin-top: 10%;
  width: 50%;
} */
h2 {
  font-family: "poppins", sans-serif;
}

.div1 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.5rem;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.6) url(./Images/Picture1.3.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: white;
}
.div1 h2 {
  padding: 2rem;
  font-family: "helvetica", sans-serif;
  width: 70%;
}
.div2 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.div3 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Images/Picture1.3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.div4 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.div5 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Images/Picture1.2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.div6 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.div7 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Images/Picture1.2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.div8 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.div9 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Images/Picture1.2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.div10 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.div11 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Images/Picture1.2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.div12 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
.div13 {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./Images/Picture1.2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.div14 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}
